@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

.divisoria {
    width: 100%;
    height: 0;
    border-top: 1px solid;       
    margin: 32px 0 60px 0;            
    opacity: 0.9;
    box-sizing: border-box;
    color: #fff;
}


.cardapiogeral {
    margin: 0 auto;             
    margin-top: -1.8%;
    border: 2px solid white;
    border-radius: 12px;
    padding: 20px 40px;         
    background-color: #AD2E1A;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    width: 90%;                 
    max-width: 1600px;          
    box-sizing: border-box;
}
.hamburguer,
.outros {
  background-color: #AD2E1A;
  border-radius: 20px;
  padding: 20px;
  width: 48%; 
  box-sizing: border-box; 
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bevan', serif;
  text-align: center;
  letter-spacing: -2%;
  color: #FFFFFF;
}

.outros {
  border-left: 20%;
}

h2 {
  color: #F0A913;
  font-family: 'Bevan', serif;
  text-align: center;
  letter-spacing: -2%; 
}

.linha-produto {
  display: flex;
  align-items: center; /* centraliza verticalmente */
  gap: 12px; /* espaço entre imagem, texto e preço */
}

.celula-imagem img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.celula-info {
  flex: 1; /* ocupa o espaço central */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome-produto {
  font-family: 'Bevan', serif;
  font-size: 18px;
  color: #F0A913;
  margin-bottom: 2px;
  line-height: 1.1;
}

.ingredientes-produto {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
}

.celula-preco {
  font-family: 'Bevan', serif;
  font-size: 16px;
  color: #fff;
  text-align: right;
  min-width: 60px;
}

.carrinho img {
  width: 80px;       
  height: 80px;      
  cursor: pointer;   
  transition: transform 0.2s ease;
}

.carrinho img:hover {
  transform: scale(1.1); 
}

.hover img:hover {
  transform: scale(1.1); 
}
