.divisoria {
    width: 100%;
    height: 0;
    border-top: 1px solid;       
    margin: 32px 0 60px 0;            
    opacity: 0.9;
    box-sizing: border-box;
    color: #fff;
}


.cardapiogeral {
    margin-top: -1.8%;
    margin-left: 2%;

    
    border: 2px solid white;     /* borda branca */
    border-radius: 12px;         /* arredonda as bordas */
    padding: 20px;               /* espaço interno */
    width: 2000px;                /* largura */
    background-color: #AD2E1A;      /* fundo escuro pra destacar */
    color: white;                /* texto branco */
}



.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outros {
  border-left: 20%;
}

h2 {
  color: #F0A913;
}